*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f59643;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

.container {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: center;
}

.container h1 {
  color: #373a3c;
  font-size: 48px;
}

.container h4,
.container label {
  margin: 0 !important;
}

.container h6 {
  font-size: 12px;
}

.container select {
  width: 225px;
  height: 2.1rem;
  -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.322));
          filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.322));
}

.container .bar {
  background-color: #373a3c;
  color: white;
  -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.322));
          filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.322));
}

.container .bar .count {
  background-color: white;
  padding: 1px 5px;
  margin-left: 3px;
  color: #373a3c;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

.container .table-main {
  overflow-x: auto !important;
}

.container .table-head {
  background-color: #0cb911;
  border: none !important;
  -webkit-filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.322));
          filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.322));
}

.container th {
  border: none;
}

.container .table-body tr:first-child {
  border: none !important;
}

.container .table-footer {
  background-color: #0cb911;
  -webkit-filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.322));
          filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.322));
}

.container .pag {
  background-color: #373a3c;
  color: white;
}

.container .active-class {
  color: #373a3c;
  background-color: white;
}

@media (max-width: 768px) {
  .container {
    background-image: none;
  }
  .head {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .table-main {
    background-image: url(../img/bg-small.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
